/*GLOBAL SYYLES*/

html {
    box-sizing: border-box;
    margin:0;
    padding:0;
    /*cursor: url(../assets/virus.png);*/

}

body {
    font-family: 'Lato';
    font-size: 1em;
    color:#1F1F1F;
    margin:0;
    padding:0;
    letter-spacing:0.25px;
    line-height:1.5em;
}


.wrapper {
    max-width:1000px;
    margin:0 auto;
    border:0px solid green;	
    padding-left:40px;
    padding-right:40px;
}


h5 {
    font-size: 1em;
    font-weight:bold;
}


.sectionhead {
    font-size:2em;
    font-family: 'Lato';
    font-weight:bold;
    color:#29304e; 
    text-align:center;
    letter-spacing:3px;
    padding-bottom:30px;
    padding-top:50px;
}


/*PHONE - GLOBAL SYYLES*/

@media (max-width:630px) {
    
    .sectionhead {
        font-size:1.75em;
        font-family:'Lato';
        font-weight:bold;
        color:#6A5106; 
        text-align:center;
        letter-spacing:3px;
        padding-bottom:30px;
    }


}


/* HEADER STYLES */


.subtitle_par {
    margin:0 auto;
    text-align: center;
    margin-bottom:10px;
}  


    /*main nav links*/

    .navlettering {
        letter-spacing:1px;
    }

    nav a {
        color:#29304e;
        text-decoration:none;
        font-weight: bold;
    }

    nav a:hover {
        color:#AE2538;
        text-decoration: none;
    }

    nav a:active {
        color:#AE2538; 
    }


    /*main website links*/

    a {
        color:#F89580;
        text-decoration:none;
    }

    a:hover {
        color:#AE2538;
        text-decoration: none;
    }

    a:active {
        color:#AE2538; 
    }


/*HEADER STYLES*/

header {
    /*background-color:#F2E0D0;*/
    background-color: #FFFFFF;
    background-image: url(../assets/covidbg.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-bottom:0px solid #F4F3F0;
    height:75%;
}


#mainheadimage {

    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
}




/*TABLET - HEADER STYLES*/

@media (max-width: 800px) {

    #mainheadimage {
        margin:0 auto;
        margin-top:50px;
        margin-bottom:50px;
        width:99%;
    }

}


/*PHONE - HEADER SYYLES*/

@media (max-width:630px) {
    

    #mainheadimage {
        margin:0 auto;
        margin-top:50px;
        margin-bottom:50px;
        /*width:60%;*/
    }


}



#coronatitle {
    font-size:3.5em;
    font-family:'Raleway';
    font-weight:bold;
    text-align:center;
    letter-spacing:3px;
    padding-top:60px;
    padding-bottom:30px;
    width:100%;
    border:0px solid blue;
    margin:0 auto;
    color:#F04338;
}

#coronatitle-desc {
    font-size:1.25em;
    letter-spacing:2px;
    text-align:center;
    color:#29304e;
    margin:0 auto;
    width:90%;
}

.main-secondcolor {
    font-size:1em;
    font-family:'Lato';
    font-weight:bold;
    color:#29304e;
}


.headercontainer {
    /*background:#A6837B;*/
    background:transparent;
}


#main-header {
    display:flex;
    justify-content: center;
    text-align:center;
    background-color: transparent;

}



/*TABLET - HEADER STYLES*/

@media (max-width: 800px) {

    #coronatitle {
        font-size:3em;
        font-family:'Lato';
        font-weight:bold;
        text-align:center;
        letter-spacing:3px;
        padding-top:60px;
    }

    #top-yellowbackground {
        background:#FFCA00;
        height:250px;
    }


}


/*PHONE - HEADER STYLES*/

@media (max-width:630px) {
    
    #coronatitle {
        font-size:2.5em;
        font-family:'Lato';
        font-weight:bold;
        text-align:center;
        letter-spacing:3px;
        padding-top:60px;
    }

    #coronatitle-desc {
        font-size:1em;
        letter-spacing:2px;
        text-align:center;
        color:#131418;
        margin:0 auto;
        width:100%;
    }

}

/*MAIN SECTION STYLES - stats, about covid and map*/

.stats-num {
    font-weight: bold;
    color:#F04338;
}

#aboutcovidcontainer {
    background-color: #f8faff;
    /*border:1px solid green;*/
}

#section-aboutcovid {
    background:#f8faff;
    bottom:140px;
    text-align:left;
    margin-top:50px;
    padding-bottom:30px;
    letter-spacing:0.50px;
    /*width:70%;*/
    /*border:1px solid purple;*/
    display:flex;
    flex-direction: row;
}

#aboutcovidhead {
    padding-top:50px;
    font-size: 2em;
    font-family:'Lato';
    font-weight:bold;
    text-align:center;
    letter-spacing:3px;
}


.aboutcovid-a, .aboutcovid-b {
    width:50%;
    /*border:1px solid pink;*/
}


.aboutimage {
    margin-bottom:50px;
    padding-top:50px;

}

#aboutcorona {
    font-size:2em;
    font-family: 'Lato';
    font-weight:bold;
    color:#29304e; 
    text-align:left;
    letter-spacing:3px;
    padding-bottom:30px;
    padding-top:40px;
}

.lastupdated-con {
    padding-top:30px;
    text-align: center;
}


#casesmap {
    font-size:2em;
    font-family: 'Lato';
    font-weight:bold;
    color:#29304e; 
    text-align:center;
    letter-spacing:3px;
    padding-bottom:30px;
    padding-top:50px;

}


#map {
    height:500px;
    width:70%;
    border:0px solid red;
    /*border-radius:20px;*/
    padding:0;
    margin:0 auto;
    margin-top:15px;
    margin-bottom:5px;
    /*border-radius: 20px;*/
}


/*TABLET - MAIN SECTION STYLES - stats and about covid*/

@media (max-width: 800px) {

    
    #aboutcovidcontainer {
        margin-top:0px;
        height:100%;
    }

    #aboutcorona {
        text-align:center;
    }

    #section-aboutcovid {
        /*background:#FFFFFF;
        border-radius:0px;
        position:static;
        bottom:0px;
        text-align:center;
        width:90%;*/
        background:#f8faff;
        bottom:140px;
        text-align:center;
        margin-top:50px;
        padding-bottom:30px;
        letter-spacing:0.50px;
        /*width:70%;*/
        /*border:1px solid purple;*/
        display:flex;
        flex-direction: column;

    }
    
    #aboutcoviddesc {
        text-align:left;
    }

    .aboutcovid-a {
        display:none;
    }

    .aboutcovid-b {
        width:100%;
        display:block;
        /*border:1px solid red;*/
        /*border:1px solid pink;*/
    }
    

}


/*PHONE - MAIN SECTION SYYLES*/

@media (max-width:630px) {
    
    #aboutcovidhead{
        font-size:1.75em;
    }

}


/*NEWS SECTION STYLES*/

.allarticlescon {
    margin-top:30px;

}

.articlecon {
    display:flex;
    flex-direction: row;
    margin-bottom:30px;

}

.articlecon-c {
    background-color:#FFFFFF;
    /*margin-bottom:5px;*/
    width:100%;
    text-align:left;
    border-top:1px dashed #AE2538;
    padding-top:20px;
}


/*.articletitle {
    font-weight: bold;
}
*/


#newsarticles {
    font-size:2em;
    font-family: 'Lato';
    font-weight:bold;
    color:#29304e; 
    text-align:center;
    letter-spacing:3px;
    padding-bottom:30px;
    padding-top:30px;

}


/*FOOTER STYLES*/


footer {
    background:#29304E;
}

.footerheader {
    font-family:'Jura', sans-serif;
    font-weight:bold;
    font-size:1em;
    color:#1F1F1F;
}


#flex-first-footer {
    display:flex;
    justify-content:flex-start;
}

#footer-wrapper {
    max-width:1000px;
    margin:0 auto; 
    padding-left:40px;
    padding-right:40px;
}


#last-footer {
    background:#29304e;
    color:#FFFFFF;
    font-size:.80em;
    letter-spacing: 1px;
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    justify-content:center;
}


/*PHONE - FOOTER STYLES*/

@media (max-width:630px) {
    
    #flex-first-footer {
        display:flex;
        flex-direction:column;
    }


    /*PHONE - FOOTER STYLES*/

    .footerheader-connected {
        margin-top:5%;
    }


}

.lastfootertext {
    margin-top:2%;
    text-align: center;
}
